body {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#dvd-grp, #furniture-grp, #book-grp {
	display: none;
}
* {
	box-sizing: border-box;
}
.center-page {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.navbar-nav a{
  	color: #000000;
      text-decoration:none;
}
.navbar-nav a:hover{
  	text-decoration:underline;
}
.logo{
	width: 50px;
	height:auto;
}

.rows{
	padding: 2px;
}
.tab{
    border: 1px solid #A9A9A9;
    float: left;   
    background-color: #A9A9A9;
	position:relative;
	height: 230px;
	margin: 40px 0.5% 25px 0.5% ;
	display: flex;
    justify-content: center;
	align-items: center;
	text-align:center
  }
 .center { 
	position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    text-align: center;
}
 .img-class{
 	width:100%;
	 height:100%;
 }
.product-items {
	line-height: 8px;
	font-size: 1.1em;
	/*text-transform: capitalize;*/
	padding: 20px;
}
.product-items p:nth-child(1){
	font-weight: bold;
	text-transform: uppercase;
}
.product-items p:nth-child(4) {
	line-height: 17px;
}

.title{
	margin:0;
	padding:2px 3px;
	position:absolute;
	top: 0;
	left: 0;
}
.title2{
	margin-top:10px;
	padding:2px 3px;
	position:absolute;
	top: 0;
	right: 0;
	text-transform: uppercase;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  margin: 6px;
  border-color: #DC3545;
}
.link{
	text-decoration: none;
	color: #ffffff;
}
.form-check-input:focus, .form-check-input:active, .form-check-input:hover{
	box-shadow: none !important;
	border-color: #DC3545 !important;
}
.form-check-input:checked{
	background-color: #DC3545 !important;
	border-color: #DC3545 !important;
}
.m-18{
	padding-top: 18px;
}
.hr {
	color: #DC3545;
}
#heading::first-letter {
	font-family: cursive ;
	color: #DC3545;
	font-weight: bold;
	font-size:1.8em;
	vertical-align: text-top;
}
.footer {
	clear: both;
	margin: -60px auto;
}

/*****Desktop view only*****/
@media (min-width: 992px) {
	.tab{
	width: 32.3%;
  }
  #heading {
	font-size: 3vw;
}
  .rows{
 	width: 85%;
 	margin: 0 auto;
}

}

/*****Tablet view only*****/
@media (min-width: 768px) and (max-width: 991px) {
.tab{    
	width: 32.3%;
}
#heading {
	font-size: 3vw;
}
.rows{
 	width: 90%;
 	margin: 0 auto;
}

form{
	width: 90%;
	margin:0 auto;
}

}

/*****Mobile view only*****/
@media (max-width: 767px) {
.tab{
	width: 49.3%;
	height: 210px;
	margin: 40px 0.35% 25px 0.35% ;
}
  #heading {
	font-size: 6vw;
}
.rows{
 	width: 98%;
     margin: 0 auto;
     padding: 2px;
 }
}